@media only screen and ( max: 424px){
    .Grid-container{
        grid-template-rows: 1 auto;
        text-align: center;
        row-gap: 5px;
    }
    .Diploma img{
       align-content: center;
    }

    .Josefin Sans{
        font-family: "Josefin Sans";
        font-weight: 400;
        font-style: normal;
        border-radius: 5%;
        padding: 2%;
        margin-top: 2%;
      }
   
      
}