@media only screen and ( max: 424px){
    .Grid-container{
        grid-template-rows: 1 auto;
        text-align: center;
        row-gap: 5px;
    }
    .Diploma img{
       align-content: center;
    }

      img{
        max-width: 100%;
        
      }
}
