section{
        h4{
            border-top: 25px;
            text-align: center;
            background-color: orangered;
                     
        }
        .leyenda{
            background-color: orange;
             p{
                text-align: center;
             }
        }
    }

section{
        
        div{
            .carousel-item{
                border-radius: 5%;
            }
        }

}    