   section{
        #carouselExample{
          .carousel-inner{ 
               display: flex;
               align-content: center;
             .carousel-item{
                   img{
                    margin-left: 25%;
                    width: 50%;
                    height: auto;
                    border-radius: 5%;
                      }
                
                  }


        
 
            }
         }
     }