section{
        h4{
            border-top: 25px;
            text-align: center;
            background-image: linear-gradient(to left, orange, orangered)
                     
        }
        .leyenda{
            background-color: orange;
             p{
                text-align: center;
             }
        }
    }


    section{
        .carouselExample{
          .carousel-inner{ 
          
             .carousel-item active {
                
                   .carrusel1{
                    width: 500px;
                    border-radius: 5%;
                      }
                
                  }


        
 
            }
         }
     }