 footer{
         padding: 20px;
         display: flex;
         justify-content: center;
        div{
          display: flex;
          justify-content: space-between;
          background-color: orange;
              p{
                color: black;
                background-color: orange; 
                padding: 30px;
                justify-content: center;
                a{
                  align-items: center;
                  margin-left: 30px;
                  text-decoration: none;
                  color: black;

                }
               
              }
          }
  }