
    div{
     a{
        .logo-wpp{ 
           position: fixed;
           right: 15px;
           bottom: 0px;
           height: auto;
           transition: 3s;
         }
      }
    }


    .logo-wpp:hover{
      transform: rotate(360deg);
    }