h4{ border-top: 25px;
    text-align: center;
    background-image: linear-gradient(to left, orange, orangered)}
main{
    .Grid-container{
        .grid-item{
            
            a{
                text-decoration: none;
            }
        }
    }
}