.Josefin Sans{
    font-family: "Josefin Sans";
    font-weight: 400;
    font-style: normal;
    border-radius: 5%;
    padding: 2%;
    margin-top: 2%;
  }

  p{
    background: rgb(255,201,0);
background: radial-gradient(circle, rgba(255,201,0,1) 24%, rgba(255,98,0,1) 100%);
  }